body {
  background-color: #fffbf7;

}

h1 {
  text-align: center;
  font-family: 'Fascinate', cursive;
  font-size: 2.2rem;
}

p {
  color: center;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 1rem;
  text-align: center;
}

strong {
  color: #8b8b8bcc;
  font-size: 24px;
}

form {
  display: flex;

}

form button {
  background-color: #025157;
  color: #fff;
  width: 15rem;
  height: 3rem;
  border-radius: 0 10px 10px 0; 
  border-color: rgb(161, 161, 161);;
}
form input {
  border-radius: 10px 0 0 10px; 
  border-color: rgb(173, 170, 170);
}

.header {
  margin-top: 40px 20px 0;
  font-size: 0;
  height: 45px;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 1rem;
}

.fixed_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #b6e4a5;
  
  
  
}

li {
  display: inline;
  margin: 0 15px;
  color: #025157;
  font-size: 1.4rem;
  font-family: 'Fascinate', cursive;
}

.logo>img {
  width: 15%;
}

.logo {
  width: 15%;
}

.navbar {
  width: 70%;
  text-align: center;
  color: #025157;
  font-weight: 500;
  font-family: sans-serif;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  
}

.actions a {
  color: #67b54b;
}

.actions > * {
  margin-right: 10px;
  margin-left: 10px;
}

.main {
  margin-top: 140px;
  text-align: center;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}



.actions button {
  color: fff;
  background: #67b54b;
  padding: 14px 12px;
  border-radius: 5px;
  border-style: none;
  
}


.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.publish {
  margin: 1px;
}

.image_video{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_video img{
  width: 150px;
  margin-top: 10px;
}