body {
    background-color: #fffbf7;
}

 p {
  color: #46484c;  
  font-size: 18px;
}
strong {
    color: #8b8b8bcc;
    font-size: 24px;
}

button {
    background-color: #025157;
    color: #fff;
    width: 100px;
    height: 50px;
}