body {
  background-color: #fffbf7;
}


nav {
  font-size: 0;
  height: 100%;
  width: 100%;
  background-color: #b6e4a5;
  display: flex;
  justify-content: space-between;


}

.nav-item {
  display: inline;
  margin: 0 15px;
  color: #35d5e0;
  font-size: 1.5rem;
  font-family: 'Fascinate', cursive;
}

.nav-item>.nav-link {
  color: #000000;
}
.nav-item>.nav-link:hover {
  color: #198754;
}

 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(10, 87, 8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
  border-color: rgb(4, 17, 3);
} 

.logo {
  margin-right: 1rem;
}

.logo img {
  width: 35px;
  height: 35px;
}


h1 {
  text-align: center;
  font-family: 'Fascinate', cursive;
  font-size: 2.2rem;
}

h3 {
  font-family: 'Fascinate', cursive;
  font-size: 1.5rem;
}

p {
  color: center;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 1rem;
  text-align: center;
}

strong {
  color: #8b8b8bcc;
  font-size: 24px;
}

form {
  display: flex;


}

form button {
  background-color: #025157;
  color: #fff;
  width: 15rem;
  height: 3rem;
  border-radius: 0 10px 10px 0;
  border-color: rgb(161, 161, 161);
  font-family: 'Kdam Thmor Pro', sans-serif;
}

form input {
  border-radius: 10px 0 0 10px;
  border-color: rgb(173, 170, 170);
  font-family: 'Kdam Thmor Pro', sans-serif;
}


.main {
  margin-top: 140px;
  text-align: center;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}



.promo {
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5rem;

}

.publish {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  line-height: 1.5rem;


}

.image_video {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-self: flex-end;
}

.image_video img {
  width: 5rem;
  margin-top: 10px;
}

.testimony {
  background-color: #a1d683;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 4rem;

}

  .information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 50%;
  }

  .information h1 {
    color: #025157;
    font-size: 3rem;
  }

  .information p {
    font-size: 1.5rem;
    text-align: left;
  }

  .test-btn {
    color: #fff;
    background-color: #025157;
    font-size: 1rem;
    height: 3rem;
    border-radius: 5px;
    font-style: bold;
    margin: 1rem;
  }

  .people {
    position: relative;
    background-color: #fff;
    width: 20%;
    height: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    font-family: 'Kdam Thmor Pro', sans-serif;

  }

  .people img {
    align-self: flex-start;
    border-radius: 25px 25px 0 0;
  }

  .people h3 {
    color: #025157;
    font-size: 1.2rem;
    text-align: left;
  }

  .people p {
    font-size: 1.1rem;
    text-align: center;
  }

  .people button {
    width: 85%;
    align-content: center;
  }

  .circle {
    position: absolute;
    background-color: #f5df16;
    right: 1rem;
    bottom: 16rem;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;

  }

  .circle img {
    margin: 15px auto;
    display: block;
  }

.features {
  background-color: #025157;
  padding: 5% 10%;
  display: grid;
  grid-template: repeat(2, 330px) / repeat(2, 1fr);
}

.features .features-card {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.features .features-card .features-content {
  padding: 30px 20px 40px 40px;
  flex: 2;
}

.features .features-card .features-content>* {
  margin-bottom: 1rem;
  margin-top: 0;
}

.features .features-card .features-content img {
  width: 40px;
}

.features .features-card .features-content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .features-card .features-content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .features-card .features-content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.features .features-card .features-img {
  flex: 1;
  width: 100%;
  position: relative;
  right: -50px;
  height: 100%;
}

.features .features-card .features-image figure,
.features .features-card .features-image img {
  margin-top: 0;
  height: 100%;
}

.how-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 0;
}

.how-work a {
  color: #67b54b;
  text-decoration: none;

}

.how-work h1 {
  color: #025157;

}


.how-work button {
  align-self: center;
  color: #fff;
  background-color: #025157;
  font-size: 1rem;
  width: 15rem;
  height: 3rem;
  border: 1px solid #e9f4f5;
  border-radius: 10px;

}

.how-work .steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  justify-items: center;
  margin: 1rem 15rem;

}

.how-work .card-step {
  background: #fff;
  width: 95%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid rgb(184, 182, 182);
}

.how-work .card-step:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.how-work .card-step .card-step-img img {
  width: 100%;
  height: 250px;
}

.how-work .card-step .card-step-content {
  padding: 25px;

}

.how-work .card-step .card-step-content h3 {
  text-align: center;
  color: #025157;

}

.how-work .card-step .card-step-content p {
  text-align: start;
  margin-bottom: 1rem;

}

.how-work .card-step .card-step-content a {
  color: #67b54b;
  text-decoration: none;
  align-self: flex-end;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.otherInformation {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {

  .navbar,
  .actions {
    display: none;
  }

  .main {
    margin-top: 4.5rem;
  }

  .main h1 {
    font-size: 1.5rem;
  }

  .banner>img {
    width: 100%;
  }

  .main>form {
    margin-bottom: 1rem;
  }

  .main>form>input{
    width: 50%;

  }

  .main>form>button {
    width: 50%;

  }

  .publish>form {
    margin-bottom: 1rem;
  }


  .publish>form>input {
    width: 50%;
  }
  .publish>form>button {
    width: 50%;
  }

  .promo {
    flex-direction: column;
    max-width: 90%;
    justify-items: center;
    margin: 0 1rem;
  }

  .promo>.image_video>video {
    width: 90%;
  }

  .publish {
    margin-top: 1rem;
  }

  .publish>h1 {
    font-size: 25px;
    line-height: 1.5rem;
    margin-bottom: 20px;
  }

  .features {
    grid-template: repeat(4, 1fr) / 1fr;
    justify-items: center;
    padding: 0;

  }

  .features .features-card {
    margin: 30px;
    border-radius: 5px;
    height: 90%;
    padding: 5px;
  }

  .features-img {
    display: none;
  }

  .testimony {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
  
  }

  .how-work>button {
    margin-bottom: 1rem;
  }
  .how-work>.steps {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    row-gap: 1rem;
    justify-items: center;
    margin: 0;
  }

  .how-work>.steps>.card-step {
    padding: 10px;
  }

}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {}

